apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: catalog
  namespace: "{{ deployment_namespace }}"
spec:
  displayName: Custom Catalog
  sourceType: grpc
  image: "{{ local_registry }}/{{ local_registry_ns }}/custom-registry:latest"
