apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: catalog
  namespace: "{{ deployment_namespace }}"
spec:
  displayName: Custom Catalog
  sourceType: grpc
  image: "{{ internal_registry }}/{{ deployment_namespace }}/custom-registry@{{ build.resources[0].status.output.to.imageDigest }}"
