---
apiVersion: operator.openshift.io/v1alpha1
kind: ImageContentSourcePolicy
metadata:
  name: resticted-network-content-mirror-policy
spec:
  repositoryDigestMirrors:
{% for mirror in mirrors %}
  - mirrors:
    - "{{ local_registry }}/{{ local_registry_ns }}/{{ mirror.name.split("/")[-1] }}"
    source: "{{ mirror.remote_registry }}/{{ mirror.name }}"
{% endfor %}
