---
apiVersion: operator.openshift.io/v1alpha1
kind: ImageContentSourcePolicy
metadata:
  name: "{{ item.name.split("/")[-1] }}"
spec:
  repositoryDigestMirrors:
  - mirrors:
    - "{{ local_registry }}/{{ local_registry_ns }}/{{ item.name.split("/")[-1] }}"
    source: "{{ remote_registry }}/{{ item.name }}"
