---
apiVersion: v1
kind: Service
metadata:
  name: registry
  namespace: {{ local_registry_ns }}
  labels:
    app: registry
    service: registry
spec:
  ports:
    - name: port-5000
      port: 5000
      targetPort: 5000
      protocol: TCP
  selector:
    app: registry
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    haproxy.router.openshift.io/timeout: 300s
  name: registry
  namespace: {{ local_registry_ns }}
  labels:
    app: registry
    service: registry
spec:
  to:
    kind: Service
    name: registry
  port:
    targetPort: port-5000
  tls:
{% if registry_passthrough_tls %}
    termination: passthrough
{% else %}
    termination: edge
{% endif %}
    insecureEdgeTerminationPolicy: Redirect
{% if persistent_registry %}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: registry
  namespace: {{ local_registry_ns }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ registry_pv_size }}
{% endif %}
---
apiVersion: v1
kind: Deployment
metadata:
  name: registry
  namespace: {{ local_registry_ns }}
  labels:
    app: registry
    service: registry
spec:
  selector:
    matchLabels:
      app: registry
      service: registry
  template:
    metadata:
      labels:
        app: registry
        service: registry
    spec:
      restartPolicy: Always
      containers:
      - image: docker.io/registry:latest
{% if registry_passthrough_tls %}
        env:
        - name: REGISTRY_HTTP_TLS_CERTIFICATE
          value: /etc/secrets/registry.crt
        - name: REGISTRY_HTTP_TLS_KEY
          value: /etc/secrets/registry.key
{% endif %}
        name: registry
        terminationMessagePath: /dev/termination-log
        ports:
        - containerPort: 5000
          protocol: TCP
        volumeMounts:
        - name: registry
          mountPath: /var/lib/registry
{% if registry_passthrough_tls %}
        - mountPath: /etc/secrets
          name: registry-certificates
{% endif %}
      volumes:
      - name: registry
{% if persistent_registry %}
        persistentVolumeClaim:
          claimName: registry
{% else %}
        emptyDir: {}
{% endif %}
{% if registry_passthrough_tls %}
      - name: registry-certificates
        secret:
          defaultMode: 420
          secretName: registry-certificates
{% endif %}
